<a href="https://colab.research.google.com/github/stmarques/python/blob/main/Fase_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nome = input ("Digite seu nome: ")

Digite seu nome: Amanda

In [ ]:
idade = input ("Digite sua idade: ")

Digite sua idade: 25

meu amor Ã© foda

In [ ]:
print (nome + " possui " + idade + " anos.")

Amanda possui 25 anos.

In [ ]:
ano_nascimento = input ("Digite seu ano de nascimento: ")

Digite seu ano de nascimento: 1996

In [ ]:
ano_atual = input ("Digite o ano atual: ")

Digite o ano atual: 2022

In [ ]:
idade = int(ano_atual) - int(ano_nascimento)
print(idade)

26

In [ ]:
type(ano_nascimento)

str